.modulesTopBanner {
	background: url('../../img/package/blue-header.jpg');
	height: 130px;
	width: 100%;
	margin-top: 50px;
	color: #FFFFFF;
	padding-left: 12%;
	padding-right: 12%;
	padding-top: 20px;
	font-weight: bold;
}
.modulesTopBanner div{
	float: right;
	display: table;
	margin-top: -45px;
}
.modulesTopBanner .glyphicon {
	color: #000000;
	display: table-cell;
	left: -25px;
}
.modulesContent, .packageView {
	margin-left: 12%;
	width: 76%;
	padding-top: 20px;
}
.modulesTitle {
	color: #0086a4;
	font-size: 24px;
}
.packagesList tr {
	border-bottom: 1px solid #E1E1E1;	
	background-color: #FFFFFF;	
	height: 55px;
}
.packagesList th, .packagesList td {
	padding: 0 10px;
}
.packagesList .name {
  width:160px;
	text-transform: uppercase;
}

.packagesList .pkgauthor {
	width:120px;
}
.packagesList .name a {
	color: #000000;
	text-decoration: none;
}
.price {
	color: #F68B01;
	text-transform: uppercase;
}
.consoleText {
	font-family: Monaco, Menlo, 'Ubuntu Mono', Consolas, source-code-pro, monospace;
	background-color: #FAF6F5;
	padding: 9px;
}
.author {
	color: #FF9001;
}
.packageView {
	margin-top: 20px;
	margin-bottom: 20px;
}
.packageView .info {
	background-color: #FFFFFF;
	padding: 20px;
	width: 90%;
}
.packageView .info .editBtn {
	float: right;
}
.packageView .media {
	width: 90%;
}
.packageView .media iframe {
	width: 100%;
	height: 380px;
}
.packageView .moreInfo {
	background-color: #FFFFFF;
	height: 240px;
	width: 240px;
	text-align: center;
	padding-top: 15px;
	margin-bottom: 10px;
}
.packageView .moreInfo div {
	width: 45%;
	display: inline-block;
	margin-top: 20px;
}
.packageView .githubForkLink {
	margin-top: 20px;
}
.packageView slider {
	width: 100%;
	height: 115px;
	text-align: center;
}
.packageView slider input[type="radio"] {
	margin: 105px 0 0 0;
}
.packageView slider slide1 {
	width: 100%;
	max-height: 100px;
}
.packageView slide1 .screenshot {
	float: left;
	width: 50%;
	height: 100%;
	border-left: 5px solid #eee;
}
.packageView slide1 img {
	max-height: 100%;
	max-width: 100%;
}
.oneLine {
	overflow: hidden;
    white-space: nowrap;
}
